button {
  border: none;
  background-color: #43cea2;
  font-size: 24px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #185a9d;
}

.equals {
  grid-column: 3 / 5;
  background-color: #f65058ff;
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}
